
@import "../color/color.scss";

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/*================================
Layouts by Page
================================*/
/*================================
HOME
================================*/
.main {
  display: grid;
  grid-template-areas: "nav" "content";
  transition: 200ms ease;
  @include for-tablet-landscape-up {
    grid-template-areas: "nav content";
    grid-template-columns: 320px 1fr;
    height: 100vh;
  }
}
.nav {
    grid-area: nav;
    border-right: 1px solid #d3d5d7;
    height: 100vh;
    @include for-tablet-landscape-up {
      height: initial;
    }
}
.content {
  grid-area: content;
  padding: 2em 1.25em;
  overflow-y: scroll;
}
.main.closed {
  display:grid;
  grid-template-areas: "nav content";
  grid-template-columns: 80px 1fr;
  transition: 200ms ease;
  height: 100vh;
}
.project-wrapper {
  height: calc(85vh - 3em);
  padding: 1.5em;
  border-bottom: 1px solid #d3d5d7;
}
.project-wrapper {
    height: calc(85vh);
    border-bottom: 1px solid #d3d5d7;
    transition: 200ms ease;
}

.project-inner {
    padding: 1.5em;
    height: calc(100% - 3em);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 1.5em;
}

.project-inner#courageous {
    background-color: aquamarine;
}

.project-inner#commoncensus {
    background-color: darkblue;
    color: #fff;
}

.project-inner#riwe {
    background-color: orange;
}
.project-inner > h3 {
    grid-area: 1 / 1 / 2 / 5;
}
.project-card.hero {
    grid-area: 1/1/2/4;
}

.project-array {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
}

/*================================
PROJECTS
================================*/
.project {
  display: grid;
  grid-template-areas: "content";
  transition: 200ms ease;
}
.project.open {
  grid-template-areas: "nav content";
  grid-template-columns: 320px 1fr;
  transition: 200ms ease;
}
.project-overview > .top {
    border: 8px solid $cc-light-blue;
    border-bottom: 0;
    padding: 2em;
}

.project-overview > .bottom {
    background-color: $cc-light-blue;
    padding: 2em;
    color: #fff;
    display: grid;
    grid-template-areas: "description stats";
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
}

.bottom > .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.stat-item {
    padding: 0.75em;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.stat-item:nth-child(3) {
    border-right: 0;
}
.project-overview > .top > h4.title {
    display: inline-block;
    position: relative;
    margin: 0;
    background-color: #fff;
    top: -1em;
    padding: 0 1em;
}
