
@import "../color/color.scss";

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin hide($breakpoint) {
  @if $breakpoint == phone {
    @include for-phone-only {
      display: none !important;
      visibility: hidden;
    }
  }
}

.hide {
  &.phone {
    @include hide(phone);
  }
}

/*==== HOME ====*/
.main {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 0 1fr;
  transition: 200ms ease;
  @include for-tablet-landscape-up {
    grid-template-columns: 64px 1fr;
  }
}
.main.open {
  nav {
    transform: translateX(0);
    transition: 200ms ease;
  }
}
nav {
  grid-area: nav;
  width: 320px;
  z-index: 100;
  transform: translateX(-321px);
  transition: 200ms ease;
  @include for-tablet-landscape-up {
    transform: translateX(-256px);
  }
}
.content {
  grid-area: content;
  padding: 2em 1.25em;
  overflow-y: scroll;
}
.main.closed {
  .fullpage-wrapper {

  }
}
.project-wrapper {
  height: calc(85vh - 3em);
  padding: 1.5em;
  border-bottom: 1px solid #d3d5d7;
}
.project-wrapper {
  height: calc(85vh);
  border-bottom: 1px solid #d3d5d7;
  transition: 200ms ease;
}
.project-inner {
  padding: 1.5em;
  height: calc(100% - 3em);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 1.5em;
}
.project-inner#courageous {
    background-color: aquamarine;
}
.project-inner#commoncensus {
  background-color: darkblue;
  color: #fff;
}
.project-inner#riwe {
  background-color: orange;
}
.project-inner > h3 {
  grid-area: 1 / 1 / 2 / 5;
}
.project-card.hero {
  grid-area: 1/1/2/4;
}
.project-array {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
}

/*==== PROJECTS ====*/
.project {
  display: grid;
  grid-template-areas: "nav" "content";
  grid-template-rows: 80px 1fr;
  @include for-tablet-landscape-up {
    grid-template-areas:  "nav content"
                          "nav content";
    grid-template-columns: 80px 1fr;
    height: 100vh;
  }
}
.project .page-heading {
  grid-area: 1/2/1/2;
  z-index: 99;
  transform: translateY(0px);
  transition: 700ms ease;
  visibility: hidden;
  @include for-tablet-landscape-up {
    grid-area: 1/2/2/3;
  }
}
body:not(.fp-viewing-0) .project .page-heading {
  visibility: visible;
}
.fp-viewing-0 .page-heading {
  transform: translateY(-80px);
}
.fullpage-wrapper {
  grid-area: content;
}
.fp-tableCell {
  display: flex;
  align-items: center;
  @include for-phone-only {
    flex-flow: column-reverse;
    justify-content: center;
  }
  @include for-tablet-portrait-only {
    flex-flow: column-reverse;
    justify-content: space-evenly;
  }
}
.section.title {
  .fp-tableCell {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 65% 35%;
    grid-template-areas: "title image" "scroll scroll";
    @include for-tablet-landscape-up {
      grid-template-columns: 40% 60%;
      grid-gap: 3em;
    }
    .text {
      grid-area: title;
      padding: 2em 1em 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      @include for-tablet-landscape-up {
        padding: 0 3em;
      }
    }
    .img-block {
      display: flex;
      align-self: center;
      picture {
        padding-top: 4em;
        overflow: hidden;
        max-height: calc(100vh - 4em - 5px);
        img {
          width: 100%;
          min-width: 580px;
          overflow: hidden;
        }
      }
    }
    .scroll {
      grid-area: scroll;
      justify-content: center;
      margin-bottom: 1.5em;
      display: grid;
      grid-template-areas:  "... top ..."
                            "left bottom right";
      grid-gap: 5px;
    }
  }
}
.slide {
  .img-grid {
    display: grid;
    grid-template-rows: repeat(2, [col-start] minmax(100px, 1fr) [col-end]);
    grid-gap: 2em;
    margin: 2em 2.55em;
    height: calc(100% - 4em);
    width: calc(100% - 5.1em);
    .img-block {
      padding: 0.5em;
      border: 1px solid $gray-border;
      &.img-bg {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      h5 {
        padding: 0.5em;
        line-height: 1;
        position: relative;
        top: calc(100% - 1.75em);
        border-top: 2px solid gray;
        margin: 0.25em -0.5em 0;
        background-color: #ffffff80;
      }
    }
    @include for-tablet-portrait-up{
      grid-template-columns: repeat(2, [col-start] minmax(100px, 1fr) [col-end]);
      grid-template-rows: initial;
      grid-gap: 3em;
      margin: 3em 4em;
      height: calc(100% - 6em);
      width: calc(100% - 8em);
    }
  }
}
.section.footer {
  background-color: #f3f5f7;
  padding: 3.5em;
  border-top: 1px solid #d3d5d7;
}

/*
.project {
  display: grid;
  grid-template-areas: "content";
  transition: 200ms ease;
  .nav {
    display: none;
  }
}
.project.open {
  grid-template-areas: "nav content";
  grid-template-columns: 320px 1fr;
  transition: 200ms ease;
  .nav {
    display: block;
  }
}
.project-overview {
  height: calc(100vh - 6em);
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: 65% 35%;
}
.project-overview > .top {
  grid-area: "top";
  border: 8px solid $cc-light-blue;
  border-bottom: 0;
  padding: calc(2em - 8px);
}
.project-overview > .bottom {
  grid-area: "bottom";
  background-color: $cc-light-blue;
  padding: 2em;
  color: #fff;
  display: grid;
  grid-template-areas: "description stats";
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
}

.bottom > .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.stat-item {
  padding: 0.75em;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.stat-item:nth-child(3) {
  border-right: 0;
}
.project-overview > .top > h4.title {
  display: inline-block;
  position: relative;
  margin: 0;
  background-color: #fff;
  top: calc(-2em - 12px);
  padding: 0 1em;
  text-transform: uppercase;
  color: $cc-light-blue;
}
*/
