/*================================
TYPOGRAPHY
================================*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
$text-color: #606c88;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: desaturate(#3f4c6b, 50%);
$link-hover-color: saturate(#3f4c6b, 30%);
$link-visited-color: purple;

$base-font-family: 'Nunito', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;
$base-line-height: 1.8em;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Nunito', sans-serif;
$heading-font-weight: 100;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: $heading-font-weight;
  line-height: 1.4;
}
p {
  font-size: 0.85em;
  line-height: 1.6;
}
.muted {
  opacity: 0.8;
}
