/*================================
TYPOGRAPHY
================================*/
//@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700');
$text-color: rgb(63, 76, 107); //#606c88;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: rgba($text-color, 0.5);
$link-hover-color: saturate($text-color, 50%);
$link-visited-color: purple;

$base-font-family: 'Merriweather', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;
$base-line-height: 1.6;

$heading-font-family: 'Montserrat', sans-serif;
$heading-font-weight: 400;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: 1.4;
}
p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}
.muted {
  opacity: 0.8;
}
