.fp-controlArrow.fp-prev {
  @include for-phone-only {
    left: 0;
    border-radius: 0 2px 2px 0;
    padding: 6px;
  }
  left: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 2px;
  transition: 150ms ease;
  &:hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
  &:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.1em;
    position: relative;
    top: 13px;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 0.45em;
  }
}
.fp-controlArrow.fp-next {
  @include for-phone-only {
    right: 0;
    border-radius: 2px 0 0 2px;
    padding: 6px;
  }
  right: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 2px 0 0 2px;
  transition: 150ms ease;
  &:hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
  &:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    right: 0.1em;
    position: relative;
    top: 13px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
  }
}
.arw {
  width: 44px;
  background-color: rgba(53, 55, 57, 0.25);
  height: 24px;
  text-align: center;
  border-radius: 2px;
  color: $solid-white;
  transition: 200ms ease;
  &:hover {
    background-color: rgba(53, 55, 57, 0.4);
    transition: 200ms ease;
  }
  &:before {
  	border-style: solid;
  	border-width: 0.25em 0.25em 0 0;
  	content: '';
  	display: inline-block;
  	height: 0.45em;
  	position: relative;
  	top: 0.15em;
  	transform: rotate(-45deg);
  	vertical-align: top;
  	width: 0.45em;
  }
  &.left {
    grid-area: left;
    &:before {
    	left: 0.25em;
      top: 0.35em;
    	transform: rotate(-135deg);
    }
  }
  &.top {
    grid-area: top;
    &:before {
      top: 0.45em;
    }
  }
  &.bottom {
    grid-area: bottom;
    &:before {
    	transform: rotate(135deg);
    }
  }
  &.right {
    grid-area: right;
    &:before {
    	top: 0.35em;
    	transform: rotate(45deg);
    }
  }
}
