
#bg-title {
  background-image: url('../../images/hf-headshot.jpg');
}
#cc-website-desktop-phone {
  background-image: url('../../images/cc_website_desktop+phone-03.png');
}
#cc-sketch-login {
  background-image: url('../../images/cc/cbi/sketches/login-flow.png');
}
#cc-sketch-login-2 {
  background-image: url('../../images/cc/cbi/sketches/login-flow-2.png');
}
#cc-sketch-mode-switching {
  background-image: url('../../images/cc/cbi/sketches/mode-switching-flow.png');
}
#cc-sketch-dashboard {
  background-image: url('../../images/cc/cbi/sketches/dashboard-flow.png');
}
#cs-website-desktop-phone {
  background-image: url('../../images/cs-index-collage.png');
}



@each $project-image in $project-images {
    $clients: nth($project-image, 1);   //cmcs
    $images: nth($project-image, 2);    //cbi

    .img-bg.#{$clients} {
      @each $x in $images {
        $project: nth($x, 1);           //cbi
        $image: nth($x, 2);             //benefits
        &##{$project}-#{$image} {
          @include for-phone-only {
            background-image: url('/assets/images/#{$clients}-#{$project}/#{$image}.png');
          }
          @include for-tablet-portrait-only {
            background-image: url('/assets/images/#{$clients}-#{$project}/#{$image}@2x.png');
          }
          @include for-tablet-landscape-up {
            background-image: url('/assets/images/#{$clients}-#{$project}/#{$image}@3x.png');
          }
        }
      }
    }
}
// .split > .fp-tableCell > .img-bg {
//     max-width: calc(100% - 5.7em);
//     margin: 3em 2.85em 0;
// }
.img-bg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  &.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.left {
    background-position: left;
  }
  &.right {
    background-position: right;
  }
  .split .fp-tableCell & {
    @include for-phone-only {
      max-width: calc(100% - 5.7em);
      margin: 3em 2.85em 0;


    }
    @include for-tablet-portrait-only {
      max-width: calc(100% - 10em);
      margin: 0 5em;
    }
    @include for-tablet-landscape-up {
      min-width: 500px;
      margin-left: 2.85em;
      overflow-x: hidden;
    }
  }
}

.img-block {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
    img {
    width: 100%;
    max-width: 1080px;
    height: auto;
  }
  &.centered {
    text-align: center;
  }
  @include for-phone-only {
    padding: 1.5em 2.85em;
  }
  @include for-tablet-portrait-only {
    padding: 4em;
  }
  @include for-tablet-landscape-up {
    padding: 0 4em;
  }
}

.img-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: 0 1em ;
  flex-grow: 1;
  @include for-tablet-portrait-up {
    margin: 6em 4em;
    height: calc(100% - 6em);
    width: calc(100% - 6em);
  }
  .img-block {
    padding: 0;
    flex-basis: 350px;
    flex-grow: 1;
    margin: 1em;
    line-height: 0;
    &.bordered img{
      border: 1px solid $gray-border;
    }
  }
}
