
// $list: pranav shah
//
// =author-images
//   @each $author in $list
// .photo-#{$author}
//   background-image: image-url("avatars/#{$author}.png") no-repeat
//
//    .author-bio
// +author-images
//
//
// $image:e

#bg-title {
  background-image: url('../../images/hf-headshot.jpg');
}
#cc-website-desktop-phone {
  background-image: url('../../images/cc_website_desktop+phone-03.png');
}
#cc-sketch-login {
  background-image: url('../../images/cc/cbi/sketches/login-flow.png');
}
#cc-sketch-login-2 {
  background-image: url('../../images/cc/cbi/sketches/login-flow-2.png');
}
#cc-sketch-mode-switching {
  background-image: url('../../images/cc/cbi/sketches/mode-switching-flow.png');
}
#cc-sketch-dashboard {
  background-image: url('../../images/cc/cbi/sketches/dashboard-flow.png');
}
#cs-website-desktop-phone {
  background-image: url('../../images/cs-index-collage.png');
}

// $cmcs: (
//   brand: cmcs-brand,
//   cba: cmcs-cba,
//   cbi: cmcs-cbi,
//   web: cmcs-web
// );
// $client: cmcs;
// .img-bg {
//   background-image: url('../../map-get($cmcs, cmcs-brand)')
// }

$client: cmcs;
$project: cbi;
$image: Benefits;
.img-bg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  &##{$client}-#{$project}-#{$image} {
    background-image: url('/assets/images/#{$client}/#{$project}/#{$image}.png');
    @include for-tablet-portrait-up {
      background-image: url('/assets/images/#{$client}/#{$project}/#{$image}@2x.png');
    }
    @include for-tablet-landscape-up {
      background-image: url('/assets/images/#{$client}/#{$project}/#{$image}@3x.png');
    }
  }
  &.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.left {
    background-position: left;
  }
  &.right {
    background-position: right;
  }
}
