.main-top {
  background-color: rgb(32, 23, 45);
  .fp-tableCell {
    margin: 0 auto;
  }
  .text {
    color: $transparent-white;
  }
  .link {
    color: rgba(144, 158, 191, 0.85);
    &:hover {
      color: $solid-white;
    }
  }
  .btn.inverse {
    color: $transparent-white;
  }
}

.section.project-card .fp-tableCell{
  margin: 0 auto;
}
.project-wrapper {
  @include for-phone-only {
    margin: 0;
    height: 100vh;
    border-radius: 0;
  }
  @include for-tablet-portrait-up {
    height: calc(100vh - 8em);
  }
  box-shadow: 0 5px 30px 10px $box-shadow-color;
  margin: 0 4em;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border-radius: 4px;
  .project-inner {
    display: flex;
    flex-flow: column-reverse;
    .img-block {
      object-fit: contain;
    }
    .img-bg {
      background-position: left;
      background-size: cover;
    }
    @include for-phone-only {
      padding: 0;
      flex-grow: 1;
      justify-content: space-evenly;
      .project-text {
        padding: 1em 2.85em 3em;
      }
      .img-block {
        margin-top: 4em;
      }
    }
    @include for-tablet-portrait-only {
      flex-grow: 1;
      justify-content: space-evenly;
      .project-text {
        padding: 1em 3.5em 3em;
        flex-grow: 1;
      }
      .img-block {
        margin: 4em 3.5em 2em;
      }
      .img-bg {
        width: calc(100% - 3.5em);
      }
    }
    @include for-tablet-landscape-up {
      flex-flow: row;
      flex-basis: 600px;
      .project-text {
        flex-basis: 450px;
        margin: 0 4em;
        align-self: center;
      }
      .img-bg {
        height: initial;
        width: initial;
        margin: 3em 0;
        flex-grow: 1;
        visibility: visible;
      }
    }
  }
}
