
.overlay.bg-title-gradient {
    height: 100%;
}
.vertical-separator {
  border-left: 1px solid;
}
#fp-nav {
  opacity: 1;
  transition: 200ms ease;
  &.hidden {
    opacity: 0;
    transition: 200ms ease;
    display: none;
  }
  &.left {
    @include for-phone-only {
      left: 10px;
    }
    @include for-tablet-portrait-up {
      left: 20px;
    }
  ul li .fp-tooltip {
    background-color: #0b0a17;
    border-radius: 2px;
    padding: 8px 12px;
    line-height: 1;
    top: -9px;
    }
  }
  ul li a {
    padding: 0 6px;
    margin-left: -6px;
  }
}
.fp-slidesNav ul {
  display: flex;
  justify-content: center;
}
.bg-fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: 200ms linear;
}
.main.open .bg-fade {
  z-index: 99;
  opacity: 0.35;
  transition: 200ms linear;
}
img {
  width: 100%;
}
.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  img, .cc-user-flow {
  }
  .cc-user-flow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../../images/cc/cbi/user-flow.png') no-repeat center center;
    background-size: cover;
    transform: scale(1);
  }
}
.nowrap {
  white-space: nowrap;
}
.noshrink {
  flex-shrink: 0;
}
.hover-unhide {
  i {
    opacity: 0;
    transition: 200ms ease;
  }
  &:hover {
    i {
      opacity: 1;
      transition: 200ms ease;
    }
  }
}

//Hide
.hide {
  &.phone {
    @include hide(phone);
  }
  &.tablet {
    @include hide(tablet-portrait);
  }
  &.tablet-landscape {
    @include hide(tablet-landscape);
  }
}

//Borders
.border {
  &.top {
    border-top: 1px solid $gray-border;
  }
  &.right {
    border-right: 1px solid $gray-border;
  }
  &.bottom {
    border-bottom: 1px solid $gray-border;
  }
  &.left {
    border-left: 1px solid $gray-border;
  }
  &.thick {
    border-width: 2px;
  }
}
