body {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2em;
  padding: 0 2.5em;
  height: 100vh;
  overflow-y: hidden;
}

.about {
  padding: 2em 0;
  display: grid;
  grid-template-rows: auto 1fr;
  .content {
    align-self: center;
  }
}

.content {
  padding: 12.5em 0 3em;
  overflow-y: scroll;
}