
.button {
  display: inline-block;
  padding: 0.75em 1.24em;
  color: $text-color;
  border: .125em solid;
  border-radius: 0.5em;
  background-color: $background-color;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  &:hover {
    background-color: lighten($color: $background-color, 0.9);
  }
  &.ghost {
    border-color: $background-color;
  }
}