
.button {
  display: inline-block;
  padding: 0.75em 1.24em;
  color: $secondary;
  border-radius: 0.5em;
  background-color: $primary;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  &:hover {
    background-color: lighten($color: $primary, $amount: 0.9);
  }
  .ghost {
    color: $text-color;
  }
  .outline {
    border-color: $text-color;
    color: $text-color;
    border: 2px solid;
    background-color: transparent;
    &:hover {
      background-color: transparentize($color: $primary, $amount: 0.9);
    }
  }
  i.right {
    margin-left: .5em;
  }
}