
.footer {
    border: 4px solid;
    border-radius: 2em;
    margin-top: 3em;
    max-width: 800px;
    background-color: $primary;
    color: $secondary;
    .inner {
        padding: 2em 2.5em;
    }
    a {
        color: $secondary;
        &:hover {
            color: lighten($color: $secondary, $amount: 0.1)
        }
    }
    ul {
        padding: 0;
        list-style-type: none;
        font-size: 1.2em;
        color: #000;
    }
    li {
        padding: 0.25em 0;
    }
    
}