/* light-theme.css */

body {
    color: #222;
    background-color: #fff;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
  }
  
  a {
    color: #0033cc;
    transition: color 0.5s ease;
  }