.navbar {
  border-right: 1px solid $gray-border;
  background-color: $solid-white;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: fixed;
  font-family: $heading-font-family;
  ul {
    margin: 4.5em 0 0;
    list-style-type: none;
    padding: 0;
    ul {
      margin: 1em 0;
      li {
        margin: 0;
        a {
          font-size: 1rem;
          line-height: 1.8;
          padding: 0 0.5em;
          border-left: 2px solid transparent;
          &:hover {
            border-left: 2px solid;
          }
        }
      }
    }
    li {
      margin: 0.25em 3.25em;
      font-size: 1.2rem;
      &.title {
        font-weight: 700;
      }
      &.btn-group-inline {
        margin-top: 3em;
        a {
          display: inline;
          &.btn {
            margin-right: 1em;
            padding: 0.5em 0.75em;
            &:last-of-type {
              margin: 0;
            }
          }
        }
      }
      a {
          text-decoration: none;
          display: block;
          color: $link-color;
          transition: 200ms ease;
      }
      a:hover {
          color: $link-hover-color;
          transition: 200ms ease;
      }
      .btn.inverse {
        i {
          opacity: 0.7;
          transition: 200ms ease;
        }
        &:hover {
        box-shadow: 0 1px 3px 0 $box-shadow-color;
          i {
            opacity: 1;
            transition: 200ms ease;
          }
        }
      }
    }
  }
  .nav-header {
    border-bottom: 1px solid $gray-border;
    padding-left: 4.55em;
    padding-bottom: 0.25em;
    visibility: hidden;
    transition: 150ms ease;
    h3 {
      margin-top: 1.25em;
    }
  }
}

a.btn-menu {
  position: fixed;
  z-index: 102;
  top: 10px;
  left: 10px;
  height: 44px;
  width: 44px;
}
.menu-bar {
  height: 1px;
  width: 30px;
  margin: 0 auto;
  display: block;
  background-color: #63696f;
  position: relative;
  top: 20px;
  transform:rotate(0deg);
  transition: 300ms ease;
  .main.open & {
    opacity: 0;
    transform:rotate(-180deg);
  }
  &:first-of-type {
    top: 12px;
    transform:rotate(0deg) translateY(0px) translateX(0px);
    .main.open & {
      opacity: 1;
      transform:rotate(-135deg) translateY(-6px) translateX(-7px);
      transition: 300ms ease;
    }
  }
  &:last-of-type {
    top: 28px;
    transform:rotate(0deg) translateY(0px) translateX(0px);
    .main.open & {
      opacity: 1;
      transform:rotate(135deg) translateY(7px) translateX(-6px);
      transition: 300ms ease;
    }
  }
}
.main.open {
  .nav-header {
    visibility: visible;
    transition: 150ms ease;
  }
}
