.slide, .section {
  .text {
    @include for-phone-only {
      margin: 0 2em 0 3.25em;
      h2 {
        margin: 0.5em 0 0.25em;
      }
      h4 {
        margin-top: 0.5em;
      }
    }
    @include for-tablet-portrait-only {
      margin: 0 5em;
    }
    @include for-tablet-landscape-up {
      width: 100%;
      max-width: 680px;
      margin: 0 auto;
    }
  }
  &.title {
    justify-content: space-between;
  }
  .title-block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    h2 {
      margin: 0.5em 0 0;
      }
  }
  .pre-title {
    border-bottom: 3px solid rgba(255, 255, 255, 0.22);
    display: inline-block;
    margin: 0;
    padding-bottom: 0.5em;
    padding-right: 2em;
    align-self: left;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 1rem;
  }
  &.split {
    .fp-tableCell {
      flex-flow: column-reverse;
      @include for-tablet-landscape-up {
        flex-flow: row;
        max-width: initial;
        overflow-x: hidden;
        justify-content: initial;
      }
      .text {
        @include for-phone-only {
          margin: 2.5em 2em 2.5em 3.25em;
          flex-basis: 100%;
        }
        @include for-tablet-portrait-only {
          margin: 3em 5em;
        }
        @include for-tablet-landscape-up {
          max-width: 580px;
          margin: 0 6em 0 7em;
          &.title {
            display: flex;
            flex-flow: column;
            justify-content: center;
            min-width: 400px;
          }
        }
      }
      .img-block {
        @include for-phone-only {
          max-height: 38%;
          margin-bottom: 0;
        }
        @include for-tablet-portrait-only {
          max-height: 42%;
          padding: 0em 4em;
          margin-bottom: 0;
        }
        @include for-tablet-landscape-up {
          overflow: hidden;
          justify-content: left;
          padding: 0;
        }
      }
    }
  }
}
.section.footer {
  background-color: $light-gray;
  padding: 3.5em;
  border-top: 1px solid $gray-border;
  .fp-tableCell {
    margin: 0;
    @include for-tablet-portrait-up {
      flex-flow: row;
      justify-content: space-between;
    }
  }
  .project-wrapper {
    margin: 0;
    height: initial;
    align-content: baseline;
    .project-inner {
      flex-basis: initial;
      .project-text {
        margin: 2em;
        padding: 0;
        h6 {
          margin: 0.5em 0;
        }
        .project-list {
          margin: 1em 0;
        }
      }
    }
  }
  .project-card {
    @include for-phone-only {
      margin-bottom: 2em;
    }
    @include for-tablet-portrait-up {
      flex-basis: calc(50% - 2em);
    }
  }
}
