@import "normalize.css";
@import "typography/typography.scss";
@import "layout/layout.scss";

/*================================
Elements
================================*/

/*==== Project Card ====*/
.project-card-wrapper {
  display: flex;
}
a.project-card {
    border: 1px solid;
    padding: 2em 0 2em 2em;
    display: block;
    background-color: #fff;
    transition: 150ms ease;
    display: flex;
    width: 48%;
    text-decoration: none;
    border-radius: 2px;
    h3 {
        margin: 0.5em 1em 0.5em 0;
        font-weight: 100;
        color: $text-color;
        font-size: 2em;
        line-height: 1.1;
        align-self: center;
    }
}
a.project-card#commoncensus {
  border-color: $cc-light-blue;
  .project-card-image {
    width: 100%;
    height: 10em;
    background-image: url(/images/cc_website_desktop+phone-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }
}
a.project-card#commoncensus:hover {
  background-color: $cc-light-blue;
  color: #fff;
  transition: 150ms ease;
  h3 {
    color: #fff;
  }
}

/*==== Project Stat Block ====*/
.stat-block {
  display: flex;
  flex-flow: row wrap;
  @include for-tablet-portrait-up {
    border-top: 1px solid red;
    margin-top: 10px;
    padding-top: 20px;
  }
}
.stat-item {
  h5 {
    margin: 0;
    font-size: 0.8em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 0.75em;
    line-height: 1.4;
  }
  @include for-phone-only {
      margin-right: 15px;
  }
  @include for-tablet-portrait-up {
      margin-right: 30px;
  }
}

/*==== Project Logo ====*/
.logo {
  height: 44px;
  margin: 18px 3.5em;
}
.logo#courageous {
  background-image: url(/images/courageous-logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

/*==== Navigation ====*/
.navbar {
  border-right: 1px solid #d3d5d7;
  background-color: #fff;
  height: 100%;
  display: block;
  position: fixed;
  ul {
      margin: 5em 0 0;
      list-style-type: none;
      padding: 0;
      li {
          margin-left: 2em;
          a {
              text-decoration: none;
              display: block;
              color: gray;
              transition: 150ms ease;
          }
          a:hover {
              color: red;
              background-color: #f3f5f7;
              transition: 200ms ease;
          }
      }
  }
}

a.btn-menu {
  position: fixed;
  z-index: 102;
  top: 20px;
  left: 10px;
  height: 44px;
  width: 44px;
}
.menu-bar {
  height: 1px;
  width: 30px;
  margin: 0 auto;
  display: block;
  background-color: #63696f;
  position: relative;
  top: 20px;
  transform:rotate(0deg);
  transition: 300ms ease;
}
.menu-bar:first-of-type {
  top: 12px;
  transform:rotate(0deg) translateY(0px) translateX(0px);
  transition: 300ms ease;
}
.menu-bar:last-of-type {
  top: 28px;
  transform:rotate(0deg) translateY(0px) translateX(0px);
  transition: 300ms ease;
}
.main.open {
  .menu-bar {
    opacity: 0;
    transform:rotate(-180deg);
    transition: 300ms ease;
  }
  .menu-bar:first-of-type {
    opacity: 1;
    transform:rotate(-135deg) translateY(-6px) translateX(-7px);
    transition: 300ms ease;
  }
  .menu-bar:last-of-type {
    opacity: 1;
    transform:rotate(135deg) translateY(7px) translateX(-6px);
    transition: 300ms ease;
  }
}

/*==== Responsive Sections & Slides ====*/

.fp-responsive .section.split.fp-section {
    height: initial !important;
}
.fp-responsive .section .fp-slide .fp-tableCell {
    height: initial !important;
}
.fp-responsive .fp-slides .fp-slide.fp-table .fp-tableCell {
    padding: 3.5em;
}
.slide {
  .text {
    @include for-phone-only {
      padding: 0 1em 1.5em 1em;
      h2 {
        margin: 0.5em 0 0.25em;
      }
      h4 {
        margin-top: 0.5em;
      }
    }
    @include for-tablet-portrait-up {
      padding: 0 3.5em;
      flex-basis: 66%;
      flex-grow: 1;
    }
  }
  .img-block {
    overflow-x: hidden;
    padding: 0 3.5em;
      img {
      width: 100%;
      height: auto;
    }
    @include for-phone-only {
    padding: 1.5em 3.5em;
    }
    @include for-tablet-portrait-up {
      flex-basis: 33%;
      flex-grow: 1;
        img {
          min-width: 400px;
        }
    }
  }
}
.fp-controlArrow.fp-next{
  @include for-phone-only {
    right: 1px;
    border-width: 18.5px 0 18.5px 14px;
  }
  @include for-tablet-portrait-up {
    border-width: 28.5px 0 28.5px 24px;
  }
}
.fp-controlArrow.fp-prev{
  @include for-phone-only {
    left: 1px;
    border-width: 18.5px 14px 18.5px 0;
  }
  @include for-tablet-portrait-up {
    border-width: 28.5px 24px 28.5px 0;
  }
}
.fp-controlArrow.fp-prev {
  left: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 0 2px 2px 0;
  transition: 150ms ease;
  :hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
}
.fp-controlArrow.fp-prev::after {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.1em;
  position: relative;
  top: 13px;
  transform: rotate(-135deg);
  vertical-align: top;
  width: 0.45em;
}
.fp-controlArrow.fp-next {
  right: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 2px 0 0 2px;
  transition: 150ms ease;
  :hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
}
.fp-controlArrow.fp-next::after {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  right: 0.1em;
  position: relative;
  top: 13px;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.45em;
}

#cc-website-desktop-phone {
  background-image: url('images/cc_website_desktop+phone-03.png');
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.fp-slidesNav ul {
  display: flex;
  justify-content: center;
}
.bg-fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: 200ms linear;
}
.main.open .bg-fade {
  z-index: 99;
  opacity: 0.35;
  transition: 200ms linear;
}
.slide.red {
  background-color: #ff0000;
}
