@import "normalize.css";
@import "typography/typography.scss";
@import "layout/layout.scss";

/*================================
Elements
================================*/

/*==== Project Card ====*/
.project-card-wrapper {
  display: flex;
}
a.project-card {
    border: 1px solid;
    padding: 2em 0 2em 2em;
    display: block;
    background-color: #fff;
    transition: 150ms ease;
    display: flex;
    width: 48%;
    text-decoration: none;
    border-radius: 2px;
    h3 {
        margin: 0.5em 1em 0.5em 0;
        font-weight: 100;
        color: $text-color;
        font-size: 2em;
        line-height: 1.1;
        align-self: center;
    }
}
a.project-card#commoncensus {
  border-color: $cc-light-blue;
  .project-card-image {
    width: 100%;
    height: 10em;
    background-image: url(/images/cc_website_desktop+phone-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }
}
a.project-card#commoncensus:hover {
  background-color: $cc-light-blue;
  color: #fff;
  transition: 150ms ease;
  h3 {
    color: #fff;
  }
}

/*==== Project Stat Block ====*/
.stat-block {
  @include for-phone-only {
    display: none;
  }
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid red;
  margin-top: 10px;
  padding-top: 20px;
}
.stat-item {
  margin-right: 30px;
  h5 {
    margin: 0;
    font-size: 0.8em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 0.75em;
    line-height: 1.4;
  }
}

/*==== Project Logo ====*/
.logo {
  height: 44px;
  margin: 18px 3.5em;
}
.logo#courageous {
  background-image: url(/images/courageous-logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

/*==== Navigation ====*/
.navbar {
  border-right: 1px solid $gray-border;
  background-color: #fff;
  height: 100%;
  display: block;
  position: fixed;
  ul {
      margin: 5em 0 0;
      list-style-type: none;
      padding: 0;
      li {
          margin-left: 2em;
          a {
              text-decoration: none;
              display: block;
              color: gray;
              transition: 150ms ease;
          }
          a:hover {
              color: red;
              background-color: #f3f5f7;
              transition: 200ms ease;
          }
      }
  }
}

a.btn-menu {
  position: fixed;
  z-index: 102;
  top: 20px;
  left: 10px;
  height: 44px;
  width: 44px;
}
.menu-bar {
  height: 1px;
  width: 30px;
  margin: 0 auto;
  display: block;
  background-color: #63696f;
  position: relative;
  top: 20px;
  transform:rotate(0deg);
  transition: 300ms ease;
}
.menu-bar:first-of-type {
  top: 12px;
  transform:rotate(0deg) translateY(0px) translateX(0px);
  transition: 300ms ease;
}
.menu-bar:last-of-type {
  top: 28px;
  transform:rotate(0deg) translateY(0px) translateX(0px);
  transition: 300ms ease;
}
.main.open {
  .menu-bar {
    opacity: 0;
    transform:rotate(-180deg);
    transition: 300ms ease;
  }
  .menu-bar:first-of-type {
    opacity: 1;
    transform:rotate(-135deg) translateY(-6px) translateX(-7px);
    transition: 300ms ease;
  }
  .menu-bar:last-of-type {
    opacity: 1;
    transform:rotate(135deg) translateY(7px) translateX(-6px);
    transition: 300ms ease;
  }
}

/*==== Arrows ====*/


.fp-controlArrow.fp-prev {
  @include for-phone-only {
    left: 0;
    border-radius: 0 2px 2px 0;
    padding: 6px;
  }
  left: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 2px;
  transition: 150ms ease;
  &:hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
  &:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.1em;
    position: relative;
    top: 13px;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 0.45em;
  }
}
.fp-controlArrow.fp-next {
  @include for-phone-only {
    right: 0;
    border-radius: 2px 0 0 2px;
    padding: 6px;
  }
  right: 15px;
  height: 40px;
  background-color: rgba(53, 55, 57, 0.25);
  border: 0 !important;
  color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 10px 15px;
  border-radius: 2px 0 0 2px;
  transition: 150ms ease;
  &:hover {
    background-color: rgba(53, 55, 57, 0.45);
    color: rgba(255, 255, 255, 1);
    transition: 150ms ease;
  }
  &:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    right: 0.1em;
    position: relative;
    top: 13px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
  }
}
.arw {
  width: 44px;
  background-color: rgba(53, 55, 57, 0.25);
  height: 24px;
  text-align: center;
  border-radius: 2px;
  &:before {
  	border-style: solid;
  	border-width: 0.25em 0.25em 0 0;
  	content: '';
  	display: inline-block;
  	height: 0.45em;
  	position: relative;
  	top: 0.15em;
  	transform: rotate(-45deg);
  	vertical-align: top;
  	width: 0.45em;
  }
  &.left {
    grid-area: left;
    &:before {
    	left: 0.25em;
      top: 0.35em;
    	transform: rotate(-135deg);
    }
  }
  &.top {
    grid-area: top;
    &:before {
      top: 0.45em;
    }
  }
  &.bottom {
    grid-area: bottom;
    &:before {
    	transform: rotate(135deg);
    }
  }
  &.right {
    grid-area: right;
    &:before {
    	top: 0.35em;
    	transform: rotate(45deg);
    }
  }
}

/*==== Background Images ====*/

#cc-website-desktop-phone {
  background-image: url('images/cc_website_desktop+phone-03.png');
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#cc-sketch-login {
  background-image: url('../../images/cc/cbi/sketches/login-flow.png');
}
#cc-sketch-login-2 {
  background-image: url('../../images/cc/cbi/sketches/login-flow-2.png');
}
#cc-sketch-mode-switching {
  background-image: url('../../images/cc/cbi/sketches/mode-switching-flow.png');
}
#cc-sketch-dashboard {
  background-image: url('../../images/cc/cbi/sketches/dashboard-flow.png');
}


/*==== Helper Classes ====*/

.fp-slidesNav ul {
  display: flex;
  justify-content: center;
}
.bg-fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: 200ms linear;
}
.main.open .bg-fade {
  z-index: 99;
  opacity: 0.35;
  transition: 200ms linear;
}
.slide.red {
  background-color: #ff0000;
}

.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  img, .cc-user-flow {
  }
  .cc-user-flow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../../images/cc/cbi/user-flow.png') no-repeat center center;
    background-size: cover;
    transform: scale(1);
  }
}
.title-box.fixed {
  position: relative;
  margin: 1.5em auto 1em;
  padding: 1em 1.5em;
  background-color: #fff;
  box-shadow: 0 1px 15px 2px $box-shadow-color;
  text-align: center;
  color: $cc-light-blue;
  display: inline-block;
  &.bottom {
    top: calc(50vh - 8em);
  }
  h3 {
    margin: 0;
    line-height: 1;
  }
  @include for-tablet-portrait-up {
    margin: 2.5em auto 1em;
    padding: 1.5em 4em;
  }
}
