@import "normalize.css";
@import "typography/typography.scss";
@import "layout/layout.scss";

.nav {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(255,255,255,0.85);
}

.muted>a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  transition: 150ms ease;
}

.muted>a:hover {
  background-color: rgba(255,255,255,0.15);
  border-bottom: 2px solid transparent;
}

.nav .btn {
    display: inline-block;
    padding: 1em 2em;
    margin: 0 10px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    transition: 150ms ease;
    color: rgba(255,255,255,0.85);
}

.nav a.btn {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

.nav a.btn:hover {
    background-color: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0.85);
    cursor: pointer;
}

.project-card {
    border: 1px solid #ffffff6b;
    padding: 1em;
    display: block;
    transition: 150ms ease;
}
a.project-card:hover {
  background-color: rgba(255,255,255,0.95);
  transition: 150ms ease;
}
.project-card h4 {
    margin-top: 0.5em;
    font-weight: 500;
}
a.project-card:hover {
    background-color: rgba(255, 255, 255, 0.95);
    transition: 150ms ease;
}

img {
  width: 100%;
  height: auto;
}
#cc-website-desktop-phone {
  background-image: url('images/cc_website_desktop+phone-03.png');
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}



.fp-slidesNav ul {
  display: flex;
  justify-content: center;
}
