/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
    margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

.nav {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(255,255,255,0.85);
}

.muted>a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  transition: 150ms ease;
}

.muted>a:hover {
  background-color: rgba(255,255,255,0.15);
  border-bottom: 2px solid transparent;
}

.nav .btn {
    display: inline-block;
    padding: 1em 2em;
    margin: 0 10px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    transition: 150ms ease;
    color: rgba(255,255,255,0.85);
}

.nav a.btn {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

.nav a.btn:hover {
    background-color: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0.85);
    cursor: pointer;
}

.main {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 320px 1fr;
  height: 100vh;
  transition: 200ms ease;
}
.nav {
  grid-area: nav;
  padding: 2em 1.25em;
  border-right: 1px solid #d3d5d7;
}
.content {
  grid-area: content;
  overflow-y: scroll;
}
.main.closed {
  display:grid;
  grid-template-areas: "nav content";
  grid-template-columns: 80px 1fr;
  transition: 200ms ease;
  height: 100vh;
}
.project-wrapper {
  height: calc(85vh - 3em);
  padding: 1.5em;
  border-bottom: 1px solid #d3d5d7;
}
.project-wrapper {
    height: calc(85vh);
    border-bottom: 1px solid #d3d5d7;
    transition: 200ms ease;
}

.project-inner {
    padding: 1.5em;
    height: calc(100% - 3em);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
}

.project-inner#courageous {
    background-color: aquamarine;
}

.project-inner#commoncensus {
    background-color: darkblue;
    color: #fff;
}

.project-inner#riwe {
    background-color: orange;
}
.project-inner > h3 {
    grid-area: 1 / 1 / 2 / 5;
}

.project-card {
    border: 1px solid #ffffff6b;
    padding: 1em;
}
