
//Typography
$text-color: rgb(63, 76, 107); //#606c88;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: rgba($text-color, 0.5);
$link-hover-color: saturate($text-color, 50%);
$link-visited-color: purple;

//Site
$solid-white: #fff;
$transparent-white: rgba(255,255,255,0.85);
$gray-border: #d3d5d7;
$box-shadow-color: rgba(14, 29, 44, 0.3);
$overlay: rgba(14, 29, 44, 0.85);
$light-gray: #f3f5f7;
$medium-gray: #c2c2c2;

// Site
.bg-white {
  background-color: $solid-white;
  color: $text-color;
}
.bg-lt-gray {
  background-color: #edf0f8;
  color: $text-color;
}
// Gradient colors
$site-gradient-start: #243b55;
$site-gradient-end: #141e30;

.bg-title-gradient {
  @include background-gradient($site-gradient-start, rgba( $site-gradient-end, 0.8 ), 'horizontal');
  color: rgba( $solid-white, .95 );
  &.reverse {
    @include background-gradient($site-gradient-end, $site-gradient-start, 'horizontal');
    color: rgba( $solid-white, .95 );
  }
}

// MassChallenge
$mc-blue: #0eabbc;

.bg {
  &.mc {
    background-color: $mc-blue;
    color: $solid-white;
    &.gradient {

    }
  }
}
// Common Census
$cc-light-blue: #066fb9;

//Gradient colors
$cc-gradient-start: #363795;
$cc-gradient-end: #005C97;

.bg-cc-gradient {
  @include background-gradient($cc-gradient-start, $cc-gradient-end, 'horizontal');
  color: $solid-white;
  &.reverse {
    @include background-gradient($cc-gradient-end, $cc-gradient-start, 'horizontal');
    color: $solid-white;
  }
}

.bg-dark-purple-gradient {
  @include background-gradient(#53346D, #000000, 'vertical');
  color: #000000;
}

// Courageous
$cs-yellow: yellow;
$cs-orange: orange;
$cs-blue: blue;

//Gradient colors
$cs-gradient-start: #fe8c00;
$cs-gradient-end: #f83600;

.bg-cs-gradient {
  @include background-gradient($cs-gradient-start, $cs-gradient-end, 'horizontal');
  color: $solid-white;
  &.reverse {
    @include background-gradient($cs-gradient-end, $cs-gradient-start, 'horizontal');
    color: $solid-white;
  }
}
