
//Base
$common-white: #fff;
$common-black: #000;
$primary: #E5E0D2;
$secondary: #000B1F;

//Typography
$text-color: $primary;
$link-hover-color: saturate($text-color, 50%);

//Site
$background-color: $secondary;
$border-color: $primary;
