/*================================
Color variables
================================*/

// Common Census
$cc-light-blue: #066fb9;

// Courageous
$cs-yellow: yellow;
$cs-orange: orange;
$cs-blue: blue;
