/*================================
Color variables
================================*/

$solid-white: #fff;
$gray-border: #d3d5d7;
$box-shadow-color: rgba(14, 29, 44, 0.3);
$overlay: rgba(14, 29, 44, 0.85);
$light-gray: #f3f5f7;
$medium-gray: #c2c2c2;

@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
      background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
 }

// Common Census
$cc-light-blue: #066fb9;

//Gradient colors
$cc-gradient-start: #363795;
$cc-gradient-end: #005C97;

.bg-cc-gradient {
  @include background-gradient($cc-gradient-start, $cc-gradient-end, 'horizontal');
  color: $solid-white;
  &.reverse {
    @include background-gradient($cc-gradient-end, $cc-gradient-start, 'horizontal');
    color: $solid-white;
  }
}

// Courageous
$cs-yellow: yellow;
$cs-orange: orange;
$cs-blue: blue;

//Gradient colors
$cs-gradient-start: #fe8c00;
$cs-gradient-end: #f83600;

.bg-cs-gradient {
  @include background-gradient($cs-gradient-start, $cs-gradient-end, 'horizontal');
  color: $solid-white;
  &.reverse {
    @include background-gradient($cs-gradient-end, $cs-gradient-start, 'horizontal');
    color: $solid-white;
  }
}
