/*================================
Color variables
================================*/

$solid-white: #fff;
$gray-border: #d3d5d7;

// Common Census
$cc-light-blue: #066fb9;

.section.title#cc {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $solid-white;
}

// Courageous
$cs-yellow: yellow;
$cs-orange: orange;
$cs-blue: blue;
